@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
body{
	font-family: 'Lato', sans-serif;
	line-height: 24px;
}

.ba-container{
	max-width: 1200px;
	background-color: #fbe088;
	margin: 30px auto;
	color: #333333;
}

.ba-cofeecups{
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	 -webkit-justify-content: space-evenly;
	         justify-content: space-evenly;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	list-style: none;
	min-height: 600px;
}

.ba-cofeecup__bronze, .ba-cofeecup__silver{
	-webkit-flex-basis: 360px;
	        flex-basis: 360px;
	 min-height: 441px;
}
.ba-cofeecup__gold{
	-webkit-flex-basis: 360px;
	        flex-basis: 360px;
	min-height: 500px;
}
.ba-cofeecup{
	background-color: #FFF;
	box-shadow: -1px 2px 7px -2px #333333;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	text-align: center;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	 -webkit-justify-content: space-evenly;
	         justify-content: space-evenly;
	-webkit-align-items: center;
	        align-items: center;
}
.ba-price{
	color: #02995b;
	font-size: 70px;
	font-weight: 700;
}

img{
	width: 135px;
	height: 135px;

}
h3{
	font-size: 56px;
	font-weight: 400;
}
p{
	font-size: 20px;
	font-weight: 300;
	padding: 0 105px;
}
